{% extends "Front/base.html.twig" %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <h3>Plate-forme de gestion des formations</h3>
                    <h1>Document d'aide</h1>
                </div>
            </div><!-- /row -->
        </div> <!-- /container -->
    </header>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Bienvenue sur le site de la formation des personnels</h1>

    <a href="/guide-geforp.pdf" target="_blank">Téléchargez le guide</a>
    <br><br>
    <iframe src="/guide-geforp.pdf" width="100%" height="500px"> </iframe>
</div>
{% endblock body %}
